{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}


<div class="min-h-screen flex flex-col">
    <div class="flex-1 flex flex-row ">
      {% include 'dashboards/navbar.html.twig' %}  
        

        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
            <div class="container mx-auto  h-full">
                
                <div class="bg-white shadow  h-full p-4 sm:p-6 xl:p-8 ">
                <div class="font-bold text-black tracking-wide text-3xl mb-16">Cours: {{ cour.titre }}</div>
                <div class="font-bold text-black tracking-wide text-xl mb-8">categorie: {{ cour.categorie }}</div>
                <div class="p-4 bg-indigo-500 rounded-lg inline mb-6">
                    <span class="mr-8">{{ cour.duree }}<i class="fa-regular fa-clock ml-4"></i></span>
                    <span>{{ cour.difficulte }}<i class="fa-solid fa-arrow-trend-up ml-4"></i></span>
                </div>
                <div class="font-bold text-black tracking-wide text-xl  mt-8">Description:</div> 
                <p class="mb-8">{{ cour.description }}</p> 
                <div class="font-bold text-black tracking-wide text-xl">Objectifs:</div> 
                <p class="mb-8">{{ cour.objectif }}</p>


                    <div class="flex">
    <a class="bg-orange-600 p-2 font-bold text-white rounded-lg mr-2" href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
    {{ include('cours/_delete_form.html.twig') }} 
    </div> 
            </div>
        </main>
        
    </div>
</div>




{% endblock %}
