{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}




  <section class="bg-gray-300 ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      
      <div class="w-full bg-white rounded-lg shadow border border-solid border-grey border-1  md:mb-0 sm:max-w-md xl:p-0  ">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 text-center mb-16 md:text-2xl ">
                  s'identifier
              </h1>
              <form class="space-y-4 md:space-y-6" method="POST">

              {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                      <input type="email"  name="email" id="inputEmail" value="{{ last_username }}"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "  required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Mot de passe</label>
                      <input type="password" name="password" id="inputpassword" autocomplete="current-password"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required>
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" name="_remember_me" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 ">
                          </div>
                           <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500 ">Se souvenir de moi</label>
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="w-full  text-white border-solid border-black border-2 bg-black font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Connexion</button>
                  
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}
